{% load static %}
{% if messages %}
{% for message in messages %}

<div id="message" class="container">
<div class="alert alert-{{ message.tags }} text-center alert-dismissible">
    <button class="close" type="button"><span>&times;</span></button>
    <strong>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    Error:
    {% else %}
    {{ message.tags | title}} :

    {% endif %}
    </strong>

    {{ message }}

</div>
</div>
<audio autoplay>
<source src="{% static 'audio/ring.mp3' %}" type="audio/mp3">
</audio>

{% endfor %}

{% endif %}